<div class=" container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto animated fadeInRight ">
    <div class="card card0 border-0">
        <div class="row d-flex">
            <div class="col-lg-6">
                <div class="card1 pb-5">
                    <div class="row px-3 justify-content-center mt-4 mb-5 border-line"> <img src="assets/images/fgmcLogo.png" class="image"> </div>
                </div>
            </div>
            <div class="col-lg-6">

                <form (ngSubmit)="accesologin(f)" #f="ngForm" class="login100-form validate-form flex-sb flex-w">


                    <div class="card2 card border-0 px-4 py-5">

                        <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>


                        <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">CORREO ELECTRONICO</h6>
                        </label> <input class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" type="text" name="email" [class.is-invalid]="email.invalid && email.touched" required ngModel #email="ngModel" placeholder="INGRESA UN CORREO ELECTRONICO VALIDO"></div>

                        <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">El password es obligatorio</span>


                        <div class="row px-3"> <label class="mb-1">
                            <h6 class="mb-0 text-sm">PASSWORD</h6>
                        </label> <input class="form-control" type="password" name="password" [class.is-invalid]="password.invalid && password.touched" required ngModel #password="ngModel" placeholder="INGRESA TU PASSWORD"> </div>

                        <div class="row px-3 mb-4">
                            <div class="custom-control custom-checkbox custom-control-inline"> <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> <label for="chk1" class="custom-control-label text-sm">RECUERDAME</label> </div> <a href="#" class="ml-auto mb-0 text-sm"> OLVIDASTE TU PASSWORD?</a>
                        </div>

                        <div class="row mb-3 px-3">
                            <button type="submit" class="btn btn-login text-center">Login</button>
                        </div>

                    </div>

                </form>

            </div>
        </div>
        <div class="py-4 animated btn-login fadeInRight">
            <div class="row px-3"> <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; 2020. TODOS LOS DERECHOS RESERVADOS...FGMC</small>
                <div class="social-contact ml-4 ml-sm-auto"> <span class="fa fa-facebook mr-4 text-sm"></span> <span class="fa fa-google-plus mr-4 text-sm"></span> <span class="fa fa-linkedin mr-4 text-sm"></span> <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span> </div>
            </div>
        </div>
    </div>
</div>


<!-- 

<div class="limiter animated fadeInLeft">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="accesologin(f)" #f="ngForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Login
                </span>

                <span *ngIf="f.submitted && f.controls['email'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="email" [class.is-invalid]="email.invalid && email.touched" required ngModel #email="ngModel" placeholder="Email">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">El password debe tener minimo 6 letras</span>
                <div class="wrap-input100 m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="password" [class.is-invalid]="password.invalid && password.touched" required ngModel #password="ngModel" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordar mi usuario
                        </label>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Ingresar
                    </button>
                </div>

            </form>
        </div>
    </div>
</div> -->