<nav class="navbar navbar-expand-lg navbar-light bg-light animated fadeInLeft bg-danger">
    <a class="navbar-brand animated fadeInLeft" href="#">FGMC BARRA DE NAVEGACION</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
  <span class="navbar-toggler-icon">
  </span>
   </button>

    <div class="collapse navbar-collapse animated fadeInLeft" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto ml-auto">

            <li class="nav-item">
                <a class="nav-link " [routerLink]="['home']">INICIO</a>
            </li>

            <!-- <li class="nav-item">
              <a class="nav-link" [routerLink]="['categoria']">CATEGORIAS</a>
          </li> -->

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['contrato']">CONTRATOS</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" [routerLink]="['usuario']">USUARIOS</a>
            </li>


            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        DROPDOWN
      </a>
               <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
              </div> 
           </li>  -->


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="BUSCAR" aria-label="Search">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">BUSCAR</button>
        </form>
    </div>
</nav>